@media (min-width: 468px) {
  .main-panel {
    display: flex;
  }
}

.panel-side {
  flex: 1;
}

.panel-mid {
  flex: 2;
}

.container-1 div,
.container-2 div,
.container-3 div {
  border: 1px #ccc solid;
  padding: 10px;
}
